* {
    margin: 0cm;
    padding: 0em;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html {
    background-color: #F5CBB0;
}

header img{
    width: 45.5%;
    height: 45.5%;
}

header, footer {
    background-color: #8C4B1D;
    padding: 1em;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

body {
    margin: 0;
    padding: 0;
}

footer {
    clear: both;
    text-align: left;
    padding: 1em;
    color: #fff;
}

/* Navigation Bar (Horizontal) */

.nav {
    overflow: hidden;
    background-color: #FFDDB0;
    border-bottom: 2px solid #000;
}

.nav a {
    float: left;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.nav .current {
    background-color: #8C4B1D;
    color: #fff;
}

.nav a:hover {
    background-color: #804901;
    color: #fff;
}

.nav .icon {
    display: none;
    color: #000;
    text-decoration: none;
}

.nav .dropdown {
    float: right;
}

.login-status span {
    float: right;
    text-align: center;
    padding: 14px 16px;
}

/* Dropdown menu */
/* The dropdown container */
.dropdown {
  overflow: hidden;
}

.dropdown2 {
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #804901;
  color: #fff;
}

.main a:hover, .dropdown2:hover {
    color: #fff;
    background-color: #804901;
  
}

/* User icon display next to username */
i.fa-solid.fa-circle-user {
    padding: 0.5em;
}

/* Username displayed in dropdown menu */
span#loggedUserFirstName {
    padding: 0.5em;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Dropdown menu for Edit Button */
/* Dropdown content (hidden by default) */
.dropdown-content2 {
  display: none;
  position: absolute;
  top: 15.5%;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content2 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Show the dropdown menu */
.show {
    display: block;
}

/* 2 Column Layout */
/*
nav ul {
    list-style-type: none;
    float: left;
    width: 10em;  
    background-color: #FFDDB0;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}

nav ul li {
    border-bottom: 1px solid #000;
}

nav ul li a {
    color: #000;
    display: block;
    padding: 0.8em 1em;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #000;
}

nav .current {
    background-color: #8C4B1D;
    color: #fff;
}

a:hover {
    background-color: #804901;
    color: #fff;
}
*/

/* Page Styling */

main {
    height: 100%;
    width: 100%;
    margin-left: 10em;
    text-align: justify;
    padding: 2em;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

main p {
    line-height: 150%;
    line-height: 1.25em;
}

.inputForms {
    justify-content: center;
    border: 1px solid #000;
    border-top: 2px solid #000;
    border-radius: 15px;
    flex-direction: column;
    display: flex;
    padding: 3.5em;
    margin: 50px;
    background-color: #FFDDB0;
}

.inputForms input {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    border: 1px solid #000;
    border-radius: 10px;
}

.inputForms button {
    width: 100%;
    padding: 0.5em;
    background-color: #8C4B1D;
    color: #fff;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: #FFA07A;
    color: #000;
}

button#edit-button {
    float: right;
    padding: 0.8em;
    background-color: #8C4B1D;
    color: #fff;
    border: none;
    border-radius: 10px;
}

button.fav-button {
    padding: 0.8em;
    background-color: #8C4B1D;
    color: #fff;
    border: none;
    border-radius: 10px;
}

button.fav-button:hover {
    background-color: #FFA07A;
    color: #000;
}

/* Hover to show elements */
/* .hide-button {
    display: none;
    transition: 0s;
} */

.hover-img:hover + .hide-button {
    display: block;
    transition-delay: 10s;
}

/* Password Strength Meter */
.group {
    width: auto;
}

.group label {
    display: block;
    padding: 8px 0;
}

.group input {
    border: none;
    outline: none;
    padding: 20px;
    width: calc(100% - 40px);
    border-radius: 10px;
    background-color: #fff;
    color: #3ba62f;
    font-size: 20px;
}

.group .power-container {
    background-color: #2E424D;
    width: 100%;
    height: 15px;
    border-radius: 5px;
}

.group .power-container #power-point {
    background-color: #D73F40;
    width: 15%;
    height: 100%;
    border-radius: 5px;
    transition: 0.5s;
}

/* Table styling */

table {
    border: 1px solid #000;
    border-collapse: collapse;
    margin: 1em auto;
}

th, td {
    border: 1px solid #000;
    padding: .2em .7em;
    text-align: left;
}

tbody tr {
    background-color: #F5CBB0;
}

thead {
    background-color: #8C4B1D;
    color: #fff;
}

tfoot {
    font-weight: bold;
}

/* Making Images Responsive */

img {
    max-width: 100%;
    height: auto;
}

/* Enquiry Form */

aside {
    background-color: #804901;
    border: 1px solid #000;
    color: #fff;
    text-align: left;
    font-style: normal;
    width: 290px;
    float: right;
    display: block;
}

aside h3 {
    text-align: center;
    font-style: normal;
}

/* Sign in and Sign up Message */
.messageDiv {
    color: rgb(7, 7, 131);
    font-weight: bold;
}

/* Display in Responsive view (i.e., Mobile or Tablet View) */

@media screen and (max-width:500px) {
    .nav a:not(:first-child) {
        display: none;
    }

    .nav a.icon {
        float: right;
        display: block;
    }

    .nav .logout-button {
        float: none;
    }
}

@media only screen and (max-width:500px) {
    .main .right{
        width: 100%;
    }

    aside {
        width: 100%;
    }

    .nav.responsive {position: relative;}
    .nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}